Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore(release): 2.0.0-beta.1 [skip ci]
  CHANGELOG.md
  dist/deno/LICENSE
  dist/deno/README.md
  dist/deno/deepmerge.ts
  dist/deno/index.ts
  dist/deno/mod.ts
  dist/deno/types/defaults.ts
  dist/deno/types/index.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
  dist/node/types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f653d8617d7e0e6ac7f8405b3e1da2322ee2fdc1
Due: none

chore: fix syntax error in beta release labelling
  .releaserc
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b253b3fff6dee1dc302154a70fecbea40a375e0b
Due: none

docs: remove beta release notes from changelog
  CHANGELOG.md
Due: prettier --write

build(release-patch): mark library as side-effect free
  package.json
Due: none

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7cbe77682cc0bb06fc0616f5fc3222b8857cfa79
Due: none

chore: fix label wording mistake
  .github/labels.yml
Due: prettier --write

chore: add label "awaiting feedback"
  .github/labels.yml
Due: prettier --write

ci: add action to close stale issues/prs
  .github/workflows/stale.yml
Due: prettier --write

ci: add action to close stale issues/prs (#26)
  .github/workflows/stale.yml
Due: prettier --write

ci: automatically apply the done label to issues closed by PRs
  .github/labels.yml
  .github/workflows/done-label.yml
Due: prettier --write

ci: automatically apply the done label to issues closed by PRs (#29)
  .github/labels.yml
  .github/workflows/done-label.yml
Due: prettier --write

ci: fixed wrong on trigger for apply done label
  .github/workflows/done-label.yml
Due: prettier --write

ci: fixed wrong on trigger for apply done label (#30)
  .github/workflows/done-label.yml
Due: prettier --write

chore(devdeps): update dev deps
  .eslintrc.json
  benchmark/run.ts
  package.json
  tests/deepmerge-custom.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: remove status labels from issues when closed via pr
  .github/workflows/done-label.yml
Due: prettier --write

ci: have dependabot update gh actions
  .github/dependabot.yml
Due: prettier --write

ci: check pr titles are semantic
  .github/workflows/dependabot-automerge.yml
  .github/workflows/pr.yml
Due: prettier --write

ci: have dependabot update gh actions (#34)
  .github/dependabot.yml
Due: prettier --write

ci: check pr titles are semantic (#35)
  .github/workflows/dependabot-automerge.yml
  .github/workflows/pr.yml
Due: prettier --write

ci: remove status labels from issues when closed via pr (#36)
  .github/workflows/done-label.yml
Due: prettier --write

refactor: remove Readonly wrapper around ReadonlyArrays as TS treats them the same
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

refactor: remove Readonly wrapper around ReadonlyArrays (#44)
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  36bb78d5e1cb2a51670658f60e68db358e7b3c84
Due: none

refactor: unrequire unused types and values
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.1 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  75330b0b236ef9c1a0708384004270b0f4326d4f
Due: none

chore(release): 3.0.0-beta.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d0ad6e41ad3f44a1808d89e2a07ee3410599ffc6
Due: none

docs: deprecate DeepMergeLeafHKT
  src/types/merging.ts
Due: prettier --write, eslint --fix

feat: provide meta data to custom merge functions and allow it to be customized
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/utils.ts
Due: prettier --write, eslint --fix

feat: provide meta data to custom merge functions and allow it to be customized (#32)
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/utils.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.3 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  42e0207bc8fefa145e437b2b3aea44c05a4be7be
Due: none

feat: built in meta data now includes parent objects
  src/deepmerge.ts
  src/index.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.4 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/index.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix
