Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: add `defu` to project dictionary
  project-dictionary.txt
Due: none

feat(benchmark): add `defu` to compare with
  benchmark/run.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: invalid usage of `defu`
  benchmark/run.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(benchmark): add `defu` to compare with (#486)
  benchmark/package.json
  benchmark/pnpm-lock.yaml
  benchmark/run.ts
  project-dictionary.txt
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  e3ec04098a756b5c4a01b19bd2d46cf953167885
Due: none

chore(release): 7.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

build: deps update
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  benchmark/package.json
  benchmark/pnpm-lock.yaml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: deps update (#496)
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  benchmark/package.json
  benchmark/pnpm-lock.yaml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update deps
  .github/workflows/lint-markdown.yml
  .vscode/settings.json
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: use with over assert
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update deps and apply linting changes
  .vscode/settings.json
  benchmark/package.json
  benchmark/run.ts
  docs/deepmergeCustom.md
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test-d.ts
  tests/deepmerge.test.ts
  tests/utils.ts
  tsconfig.build.deno.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update deps and apply linting changes (#516)
  .vscode/settings.json
  benchmark/package.json
  benchmark/run.ts
  docs/deepmergeCustom.md
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test-d.ts
  tests/deepmerge.test.ts
  tests/utils.ts
  tsconfig.build.deno.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: sort package.json
  package.json
Due: none

build: knip ignore
  knip.jsonc
Due: none

build: remove deno and jsr
  .github/workflows/build.yml
  .github/workflows/check-dist-files.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.yml
  README.md
  cspell.config.yml
  dist/deno/LICENSE
  dist/deno/README.md
  dist/deno/actions.ts
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/general.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/mod.ts
  dist/deno/types/defaults.ts
  dist/deno/types/index.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.d.cts
  dist/node/index.d.mts
  dist/node/index.mjs
  jsr.json
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  tsconfig.build.deno.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: swap out rollup-plugin-ts
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.build.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update the build process (#517)
  .github/workflows/build.yml
  .github/workflows/check-dist-files.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.yml
  README.md
  cspell.config.yml
  dist/deno/LICENSE
  dist/deno/README.md
  dist/deno/actions.ts
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/general.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/mod.ts
  dist/deno/types/defaults.ts
  dist/deno/types/index.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.d.cts
  dist/node/index.d.mts
  dist/node/index.mjs
  jsr.json
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  rollup.config.ts
  tsconfig.build.deno.json
  tsconfig.build.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: add explicit return type to speed up types
  src/defaults/vanilla.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: disable jsr releases for now
  .releaserc.yml
Due: prettier --write

chore(release): 7.1.1 [skip ci]
  CHANGELOG.md
  dist/index.cjs
  dist/index.d.cts
  dist/index.d.mts
  dist/index.mjs
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  379e564a0fa1265588e804cd01ae27ca8cba08a5
Due: none

build: don't push release files to repo
  .releaserc.yml
  dist/index.cjs
  dist/index.d.cts
  dist/index.d.mts
  dist/index.mjs
Due: prettier --write

build: use dev version of semantic-release-jsr
  package.json
  pnpm-lock.yaml
Due: none

build: deps update
  package.json
  pnpm-lock.yaml
Due: none

perf: use more performant data structures
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: use more performant data structures (#519)
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  4df43c40e77e46a20c91ca86db44973c6766e96b
Due: none

build: reenable semantic-release-jsr
  .releaserc.yml
  knip.jsonc
Due: prettier --write

chore(release): 7.1.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  df8097f2ed0ea56a8b5d07f744cfe3f7595c5a52
Due: none

build: filter what files are published to jsr
  jsr.json
Due: none

refactor: rename TuplifyUnion to UnionToTuple
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename TuplifyUnion to UnionToTuple (#525)
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: apply filtering to types when selecting a leaf node
  src/types/merging.ts
  src/types/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: apply filtering to types when selecting a leaf node (#526)
  src/types/merging.ts
  src/types/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.1.4 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  58556196c67ce47960856de1e8b15f83cfb71620
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
