Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

feat: add basic functionality
  src/deepmerge.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  tests/deepmerge.test.ts
  tests/tsconfig.json
  tests/types/index.d.ts
  tests/types/test.ts
  tests/types/tsconfig.json
Due: prettier --write, eslint --fix

docs: write readme
  README.md
Due: prettier --write

feat: add "module" property to package.json
  package.json
Due: none

chore: improve how types are built
  .eslintrc.json
  .prettierignore
  package.json
  rollup.config.ts
  tests/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: use paths in package.json as output file locations for builds
  rollup.config.ts
Due: prettier --write, eslint --fix

ci: update codecov/codecov-action to v2
  .github/workflows/ci.yml
Due: prettier --write

build: update release config
  .releaserc
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fb2aaed409669a6b1614f92fd7937c51cd80970e
Due: none

fix: husky install no longer run on postinstall
  package.json
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  38a9fff5e6ce1781eb34654d52f9403d88f7faac
Due: none

refactor: assign deepmerge result to var
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

build(dev-deps): update @rebeccastevens/eslint-config
  package.json
  yarn.lock
Due: none

build(dep-dev): update typescript to 4.4.2
  package.json
  yarn.lock
Due: none

chore: update deps
  .eslintrc.json
  package.json
  tests/.eslintrc.json
  yarn.lock
Due: none

chore: make husky hooks executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci: fix publishing
  .github/workflows/release.yml
Due: prettier --write

ci: fix the reporting of code coverage
  .github/workflows/ci.yml
Due: prettier --write

chore: adjust ignore paths to be top level relavent
  .eslintrc.json
  .prettierignore
Due: none

build: update tsconfig files
  tests/types/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: none

style: use " over `
  tests/types/test.ts
Due: prettier --write, eslint --fix

test: add some more basic tests
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

test: refactor some tests
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

chore: disable linguist for javascript and shell files
  .gitattributes
Due: none

docs: fix codecov badge
  README.md
Due: prettier --write

docs: unify top row of badges' styles
  README.md
Due: prettier --write

fix!: deepmerge of nothing now returns undefined
  src/deepmerge.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

chore: specify minimum typescript version needed when using typescript
  package.json
  tests/types/index.d.ts
Due: prettier --write, eslint --fix

refactor: use fp-ts/HKT
  package.json
  src/deepmerge.ts
  src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: feat: add basic support for custom merging
  src/deepmerge.ts
  src/types.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

feat: add support for typing custom merges
  package.json
  src/deepmerge.ts
  src/index.ts
  src/types.ts
  src/types/basics.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/mergeing.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: set up ts paths
  .eslintrc.json
  src/types/options.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

style: improve style
  src/types/mergeing.ts
  tests/.eslintrc.json
Due: prettier --write, eslint --fix

feat: add support for easily turning off merging
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/mergeing.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

docs: add basic docs about custom merging
  README.md
Due: prettier --write

docs: add missing jsdoc and remove any type
  src/deepmerge.ts
Due: prettier --write, eslint --fix

fix: built type info
  rollup.config.ts
  src/types/defaults.ts
  src/types/mergeing.ts
Due: prettier --write, eslint --fix

test: add more tests
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

feat: when deepmerging multiple objects, merge them all at once rather than in sets of 2
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/mergeing.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix
