Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

feat: allow for default merging via a special return value
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.1 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e82b5f0f4797757a729cedfbecd54fe70cf427d2
Due: none

feat: allow for implicit default merging
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

feat: allow for skipping properties completely via a special return value
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore: check spelling in the pre commit hook
  .lintstagedrc
Due: none

chore: check spelling in the pre commit hook (#65)
  .lintstagedrc
Due: none

feat: allow for alternative ways to apply default merging
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.2 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a04709331c442eba41cfa3236735b5440247ad46
Due: none

chore: use alt hosted cryptocurrency images
  DONATIONS.md
  assets/cryptocurrencies/logos/btc.svg
  assets/cryptocurrencies/logos/eth.svg
  assets/cryptocurrencies/logos/ltc.png
  assets/cryptocurrencies/logos/xmr.svg
  assets/cryptocurrencies/wallets/bitcoin.png
  assets/cryptocurrencies/wallets/ethereum.png
  assets/cryptocurrencies/wallets/litecoin.png
  assets/cryptocurrencies/wallets/monero.png
Due: prettier --write

feat: allow for skipping properties completely via a special return value (#64)
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  52457da71f683efd89eda03f04c3b5bb23d93e98
Due: none

chore: update issuehunt link
  .github/FUNDING.yml
Due: prettier --write

style: use utf8 over utf-8
  benchmark/run.ts
Due: prettier --write, eslint --fix

fix(deno): fix broken import in deno dist files
  .cspell.json
  src/types/options.ts
Due: prettier --write, eslint --fix

fix(deno): fix broken import in deno dist files (#85)
  .cspell.json
  src/types/options.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  dist/deno/types/options.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7436788848cf162043f0eec7918027bf9d803004
Due: none

fix: protect against prototype pollution
  src/deepmerge.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.2 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/node/index.cjs
  dist/node/index.mjs
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ff72202e3f9397a4f20e670c78eb4a4fd01cbfc6
Due: none

fix: use explict return types for function that return a HKT
  src/deepmerge.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.3 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d4d0605bf139c3154d509af0c8345b69cbbfa03c
Due: none

🔧fix feature don't override with undefined
  .husky/commit-msg
  .husky/pre-commit
  dist/deno/deepmerge.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
  src/deepmerge.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

build(dev-deps): update dev deps
  package.json
  yarn.lock
Due: none

style: update code style
  benchmark/run.ts
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

build: update package manager to yarn 3.2.0
  .gitignore
  package.json
  yarn.lock
Due: none

build: add yarn plugins
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
Due: prettier --write

build: migrate CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

wip
  .eslintrc.json
  .nycrc
  .vscode/settings.json
  .yarn/patches/@rollup-plugin-node-resolve-npm-13.3.0-a93dd11647.patch
  .yarn/patches/@types-rollup-plugin-auto-external-npm-2.0.2-8e75d58629.patch
  .yarn/patches/is-plain-object-npm-5.0.0-285b70faa3.patch
  .yarn/patches/rollup-plugin-dts-npm-4.2.1-4e9cd8a041.patch
  ava.config.cjs
  ava.config.mjs
  benchmark/tsconfig.json
  dist/deno/deepmerge.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
  package.json
  rollup.config.cjs
  rollup.config.ts
  src/deepmerge.ts
  src/presets/defined.ts
  src/presets/index.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
  tests/presets/deepmerge-defined.test.ts
  tests/tsconfig.json
  tests/types/defined.ts
  tests/types/test.ts
  tests/types/tsconfig.json
  tsconfig.base.json
  tsconfig.build.deno.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

build: automatically assume dist files are unchanged
  package.json
  yarn.lock
Due: none

chore: yarn upgrade
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

test: update ordering of props in types for types tests
  tests/types/index.d.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix

ci: add codeql-analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

style: ignore use of any in the prototype pollution test
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix
