Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{md,ts}": [
    "cspell --config=.cspell.json"
  ]
}

ci: rename the type tests workflow
  .github/workflows/test-types.yml
Due: prettier --write

chore: remove stale cspell configuration
  cspell.config.yml
  project-dictionary.txt
Due: prettier --write

chore: align the vscode configuration with the repo tooling
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: quiet the intentional eslint warnings
  benchmark/run.ts
  eslint.config.js
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: clean up the repo tooling (#711)
  .github/actions/prepare/action.yml
  .github/workflows/test-types.yml
  .vscode/extensions.json
  .vscode/settings.json
  benchmark/run.ts
  cspell.config.yml
  eslint.config.js
  project-dictionary.txt
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update the type benchmark baseline
  benchmark/types/baseline.json
Due: none

ci: allow the type benchmark workflow to update the baseline
  .github/workflows/benchmark-types.yml
Due: prettier --write

test: add fair Set/Map/Date comparison, prevent input mutation, and document wrapper usage
  benchmark/run.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: optimize map merging and remove dead code (#702)
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: optimize array and set merging (#698)
  src/defaults/into.ts
  src/defaults/vanilla.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: speed up the mergeUnknowns hot path (#699)
  src/deepmerge-into.ts
  src/deepmerge.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: avoid array reallocation when no undefined values exist (#696)
  src/defaults/general.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: optimize record key and type detection (#694)
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: add circular reference support, maxDepth option, and hierarchy tracking (#707)
  README.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/utils.ts
  tests/deepmerge-circular.test.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-circular.test.ts
  tests/deepmerge-into-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: extract shared default merge helpers (#703)
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: support deep map value merging
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: improve tests and add core test cases for Object.create(null) and symbol properties (#704)
  tests/deepmerge-into.test.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: reduce type-level work and shortcut same-type merges
  benchmark/types/baseline.json
  src/types/defaults.ts
  src/types/merging.ts
  src/types/utils.ts
  tests/deepmerge-fast.test-d.ts
  tests/deepmerge-into-fast.test-d.ts
  tests/deepmerge-into.test-d.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: add a dedicated fast path for merging 2 records
  src/defaults/into-fast.ts
  src/defaults/into.ts
  src/defaults/vanilla-fast.ts
  src/defaults/vanilla.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: remove unnecessary type assertions and non-null assertions
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: add @internal no-argument overloads to the custom functions
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix typos and document the fast-unsafe variants
  README.md
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: add deepmergeFastUnsafe and deepmergeIntoFastUnsafe entrypoints (#708)
  README.md
  benchmark/run.ts
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/defaults/general.ts
  src/defaults/into-fast.ts
  src/defaults/into.ts
  src/defaults/vanilla-fast.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/options.ts
  tests/deepmerge-fast.test-d.ts
  tests/deepmerge-fast.test.ts
  tests/deepmerge-into-fast.test-d.ts
  tests/deepmerge-into-fast.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename internal Reference type to DeepMergeValueReference
  src/deepmerge-into-fast.ts
  src/deepmerge-into.ts
  src/defaults/general.ts
  src/defaults/into-fast.ts
  src/defaults/into.ts
  src/index.ts
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: reorder fast variant overloads and meta-updater helpers, fix IDE tooltip reversal
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/defaults/general.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor!: rename mergeInfo system and align shorthand, add JSDoc examples
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into-fast.ts
  src/defaults/into.ts
  src/defaults/vanilla-fast.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: re-export DeepMergeMetaMetaData as a deprecated alias for DeepMergeMergeInfo
  src/types/merging.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: complete benchmark coverage for deepmerge-ts variants
  benchmark/run.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix!: stop deepmergeInto from leak-mutating nested input containers
  src/defaults/general.ts
  src/defaults/into-fast.ts
  src/defaults/into.ts
  tests/deepmerge-into.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: reduce benchmark sample count so the bench fits in 512MB heap
  benchmark/data.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: cover semantics, containers, and types across all variants
  tests/deepmerge-custom.test-d.ts
  tests/deepmerge-fast.test-d.ts
  tests/deepmerge-fast.test.ts
  tests/deepmerge-into-custom.test-d.ts
  tests/deepmerge-into-fast.test-d.ts
  tests/deepmerge-into-fast.test.ts
  tests/deepmerge-into.test-d.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge-semantics.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 8.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  188dba4036916bea4ee673281e6e952026fff7d3
Due: none

chore(lint): enforce no-explicit-any in src
  eslint.config.js
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: enforce no-explicit-any in src (#713)
  eslint.config.js
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(deps): update to typescript 6.0.3
  benchmark/types/baseline.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): adopt typescript 7 for type checking
  benchmark/types/baseline.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/benchmark-types.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/utils.ts
  tests/consumer-ts7/fixture.ts
  tests/consumer-ts7/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: typescript 7 support (#714)
  benchmark/types/baseline.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/benchmark-types.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/utils.ts
  tests/consumer-ts7/fixture.ts
  tests/consumer-ts7/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 8.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json
