Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{md,ts}": [
    "cspell --config=.cspell.json"
  ]
}

Notes added by 'git notes add'
  ef97b922df89fe6a870283af405f733fe48110fa
Due: none

fix: correct node engine requirement to >=16.9.0
  package.json
Due: none

chore(deps-dev): update @rebeccastevens/eslint-config to 4.0.2 and fix lint issues
  benchmark/data.ts
  benchmark/run.ts
  benchmark/types/scenarios/custom.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/benchmark-types.ts
  src/deepmerge-fast.ts
  src/deepmerge-into-fast.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla-fast.ts
  src/defaults/vanilla.ts
  src/index.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-fast.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into-fast.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test.ts
  tests/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 8.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  cbfd03b6984e255b16acc5ce1f3e2531ec2030a7
Due: none
