Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: renovatebot run dedupe
  .github/renovate.json
Due: none

chore: update cspell config
  .cspell.json
Due: none

chore: fix knip prod config
  knip.production.jsonc
Due: none

chore: update release config
  .releaserc.yml
Due: prettier --write

chore: update tsconfig
  tsconfig.base.json
Due: none

chore: linting fix
  .c8rc.json
  .github/workflows/lint-prettier.yml
  .prettierignore
  package.json
  tsconfig.build.deno.json
  tsconfig.json
Due: prettier --write

chore: small update to knip and workflows (#16)
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-prettier.yml
  .github/workflows/release.yml
  .nvmrc
  knip.jsonc
  knip.production.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: small fixup
  .husky/commit-msg
  .husky/pre-commit
  .releaserc.yml
  package.json
Due: prettier --write

chore: use pnpm exec
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: small update
  .prettierignore
  tsconfig.base.json
Due: none

ci: fix release permissions
  .github/workflows/release.yml
Due: prettier --write

chore: knip use strict mode and remove redundant config path
  package.json
Due: none

chore: put release script in package.json
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: reintroduction knip in dev mode (#28)
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: use a single runtime config for both cjs and esm
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix wording
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

chore: bump knip and typescript
  package.json
  pnpm-lock.yaml
Due: none

chore: bump @rebeccastevens/eslint-config
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

fix: add missing dev dep
  package.json
  pnpm-lock.yaml
Due: none

chore(knip): use test files as entry files
  knip.jsonc
Due: none

chore: clean up
  .eslintrc.json
  .github/workflows/ci.yml
  package.json
  rollup.config.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.0-next.3 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/vanilla.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  80e150f8bcb233d2979a5db167644e0887d9c76b
Due: none

chore: clean up again
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: none

ci: split up ci test wokflow
  .github/workflows/test-types.yml
Due: prettier --write

fix: remove unneeded eslint disable
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: use default MM generics
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.0-next.4 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/types/options.ts
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  3a812eedb65cbf89d32a4175605c6c4dec0b02d9
Due: none

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  9db262c63803e0eeb1ed0c212df93deb2ed0dab5
Due: none

ci: test types before releasing
  .github/workflows/release.yml
Due: prettier --write

style: fixup linting
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/types/options.ts
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: allow restricting what types can be passed in as parameters
  docs/deepmergeCustom.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  types-legacy/v4_6.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update ava config
  ava.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: update ava config (#316)
  ava.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

feat(presets): add deepmergeDefined
  package.json
  rollup.config.ts
  src/index.ts
  src/presets/defined.ts
  src/presets/index.ts
  tests/deepmerge-custom.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
