Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{md,ts}": [
    "cspell --config=.cspell.json"
  ]
}

chore(release): 6.0.2 [skip ci]
  CHANGELOG.md
  dist/deno/types/defaults.ts
  dist/node/index.d.cts
  dist/node/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  95164dcbd7a6fa23aed1da90f4317b4abc6bf254
Due: none

ci: fix broken script quotes
  .github/workflows/check-dist-files.yml
Due: prettier --write

build(dev-deps): bump denoify to 1.6.12
  package.json
  pnpm-lock.yaml
Due: none

chore: update benchmarks
  benchmark/package.json
  benchmark/pnpm-lock.yaml
  benchmark/run.ts
  package.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: only look for tests in the tests folder
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: deepmergeInto unsafe key value assignment
  src/defaults/into.ts
  tests/deepmerge-into.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: allow filtering out values before merging them
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/meta-data-updater.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test-d.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  9cc2acc1bd2cc79872ccf8939919af857063334c
Due: none

chore(release): 6.0.3 [skip ci]
  CHANGELOG.md
  dist/deno/defaults/into.ts
  dist/node/index.cjs
  dist/node/index.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor!: rename DeepMergeMerge* to DeepMerge*
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename MF to Fs
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/defaults/vanilla.ts
  src/types/defaults.ts
  src/types/merging.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor!: rename DeepMergeFunctionUtils to DeepMergeUtils
  docs/API.md
  src/deepmerge.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.0.0 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/general.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/meta-data-updater.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/node/index.cjs
  dist/node/index.d.cts
  dist/node/index.d.mts
  dist/node/index.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  1bcf521cb3188814db2839c2973b552e08693ef6
Due: none

docs: update example in readme
  README.md
Due: prettier --write, cspell --config=.cspell.json

fix: handling of partial types
  src/types/defaults.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.0.1 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/types/defaults.ts
  dist/node/index.d.cts
  dist/node/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  fc6d7d2591402bd32ae08bbc30b176209af511d6
Due: none

docs: improve example of no filtering
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

chore: speed up markdownlint
  .markdownlint-cli2.jsonc
Due: none

fix: support older module resolutions
  package.json
Due: none

chore(release): 7.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  4a73737203cb0a0e4703ea50c4f91b44c740eca1
Due: none

docs: customDeepmerge --> customizedDeepmerge
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

fix: merge functions' types
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.0.3 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/vanilla.ts
  dist/node/index.cjs
  dist/node/index.d.cts
  dist/node/index.d.mts
  dist/node/index.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  b000e13959fb5b75d7a0c52eda1bd85484cf87cb
Due: none

test(benchmark): add `defu` to dependencies
  benchmark/package.json
  benchmark/pnpm-lock.yaml
Due: none
