Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

style: fix linting error
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

refactor: rename type Leaf to DeepMergeLeaf
  README.md
  docs/deepmergeCustom.md
  src/types/merging.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

docs: update docs for deepmergeCustom
  .cspell.json
  README.md
  docs/deepmergeCustom.md
Due: prettier --write

fix: add missing readonlyness
  src/deepmerge.ts
  src/types/merging.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

fix: explicitly specify what should be publicly exposed
  src/index.ts
Due: prettier --write, eslint --fix

feat: add support for custom merging (#4)
  .cspell.json
  .eslintrc.json
  README.md
  docs/deepmergeCustom.md
  rollup.config.ts
  src/deepmerge.ts
  src/index.ts
  src/types.ts
  src/types/basics.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
  tests/types/test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

ci: don't run scripts when running release
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  65e67081429ced8b160733e97f02c2611fb44a0f
Due: none

docs: remvoe extra heading from bottom of changelog
  CHANGELOG.md
Due: prettier --write

chore: update package keywords
  package.json
Due: none

docs: move API docs to its own file
  README.md
  docs/API.md
  docs/deepmergeCustom.md
Due: prettier --write

docs: add header image to readme
  README.md
  assets/header.png
Due: prettier --write

docs: add performance notes to readme
  README.md
  assets/classic-merge.gif
  assets/smart-merge.gif
Due: prettier --write

docs: fix grammer
  src/deepmerge.ts
Due: prettier --write, eslint --fix

test: add benchmarking tests
  .eslintrc.json
  benchmark/.eslintrc.json
  benchmark/package.json
  benchmark/run.ts
  benchmark/tsconfig.json
  benchmark/yarn.lock
  package.json
Due: prettier --write, eslint --fix

fix: only use merge enumerable properties
  src/utils.ts
Due: prettier --write, eslint --fix

fix: add legacy type information
  package.json
  tsconfig.base.json
  types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

fix: add legacy type information (#6)
  package.json
  tsconfig.base.json
  types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

fix: only use merge enumerable properties (#8)
  src/utils.ts
Due: prettier --write, eslint --fix

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ef76362d7c3c9361ccdc726d85cc183795023fb0
Due: none

perf: an early esapes to tests when merging unknown types
  src/deepmerge.ts
Due: prettier --write, eslint --fix

perf: use imperative loops when building merged result of records
  src/deepmerge.ts
Due: prettier --write, eslint --fix

perf: directly request enumerable keys so that they don't need to then be filtered
  src/utils.ts
Due: prettier --write, eslint --fix

fix: current and legacy types trying to using the same file resulting in one being overridden
  rollup.config.ts
Due: prettier --write, eslint --fix

fix: current and legacy types trying to using the same file resulting in one being overridden (#10)
  rollup.config.ts
Due: prettier --write, eslint --fix

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  468215d4e47e840af8f9a54cae9cf4cdcddd0d06
Due: none

docs: fix small typos in changelog
  CHANGELOG.md
Due: prettier --write

style: update linting
  package.json
  src/deepmerge.ts
  yarn.lock
Due: prettier --write, eslint --fix

Re-order exports
  package.json
Due: none

fix: order of package exports (#12)
  package.json
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1ead7365f9592e86da365e3eb9c4d80da554b911
Due: none

test: fix testing of dates
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix

feat: add deno support
  .eslintrc.json
  .github/workflows/ci.yml
  ava.config.ts
  package.json
  rollup.config.ts
  tests/deno/deepmerge-custom.test.ts
  tests/deno/deepmerge.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  14dca7dcd677f05ef076209ed5438621a8eaed08
Due: none

Notes added by 'git notes add'
  e09dcd1793adbdf0f28d8400eca65798a48e0e07
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
