Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

test: add tests for deepmergeDefined
  tests/presets/deepmerge-defined.test-d.ts
  tests/presets/deepmerge-defined.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: set baseUrl
  tsconfig.base.json
Due: none

test: use self-reference imports
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update knip config
  knip.jsonc
Due: none

style: fix linting
  tests/deepmerge-into-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: expose some of the internal utils
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  package.json
  pnpm-lock.yaml
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/meta-data-updater.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test-d.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/meta-data-updater.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  a550ce0171c6be7f44789c3811a952a2c3f28023
Due: none

chore: create SECURITY.md
  SECURITY.md
Due: prettier --write, cspell --config=.cspell.json

docs: fix typo
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

docs: fix typo (#385)
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

docs: add tidelift
  .github/FUNDING.yml
  README.md
Due: prettier --write, cspell --config=.cspell.json

ci: update renovate settings
  .github/renovate.json
Due: none

build!: remove typing support for typescript<4.7
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.base.json
  types-legacy/v4_0.d.ts
  types-legacy/v4_6.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat: allow restricting what types can be passed in as parameters
  docs/deepmergeCustom.md
  src/deepmerge-into.ts
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: undefined will no longer replace defined values by default
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/types/merging.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test-d.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: remove deprecated type DeepMergeLeafHKT
  src/index.ts
  src/types/merging.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf: remove BlacklistedRecordProps
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: type when merging optional properties of a record
  project-dictionary.txt
  src/types/defaults.ts
  src/types/utils.ts
  tests/deepmerge-into.test-d.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename some types
  src/deepmerge-into.ts
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  b610ee0150622d04b7a186cdc0aa1f53c206346c
Due: none

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/meta-data-updater.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.d.cts
  dist/node/index.d.mts
  dist/node/index.mjs
  dist/node/types/legacy/v4_0.d.ts
  dist/node/types/legacy/v4_6.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: type when merging index signatures
  src/types/defaults.ts
  src/types/utils.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 6.0.1 [skip ci]
  CHANGELOG.md
  dist/deno/types/defaults.ts
  dist/deno/types/utils.ts
  dist/node/index.d.cts
  dist/node/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  6e911a52a28cf18b0faae5f7a8db9f584ab03af9
Due: none

test: fix type params in deepmergeIntoCustom test
  tests/deepmerge-into-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: return type when using empty records
  src/types/defaults.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
