Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

build(release-patch): deno release
  .eslintrc.json
  .gitignore
  .releaserc
  .vscode/settings.json
  README.md
  package.json
  src/.eslintrc.json
  tsconfig.build.deno.json
  tsconfig.build.json
  yarn.lock
Due: prettier --write

build(release-patch): deno release (#13)
  .eslintrc.json
  .gitignore
  .releaserc
  .vscode/settings.json
  README.md
  package.json
  src/.eslintrc.json
  tsconfig.build.deno.json
  tsconfig.build.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.4 [skip ci]
  deno-dist/CHANGELOG.md
  deno-dist/LICENSE
  deno-dist/README.md
  deno-dist/deepmerge.ts
  deno-dist/index.ts
  deno-dist/mod.ts
  deno-dist/types/basics.ts
  deno-dist/types/defaults.ts
  deno-dist/types/index.ts
  deno-dist/types/merging.ts
  deno-dist/types/options.ts
  deno-dist/types/utils.ts
  deno-dist/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  71ac70748e41ca9f1bbdc5c03c5166fe65d58b4c
Due: none

fix(deno): deno release fixup
  .vscode/settings.json
  README.md
  deno-dist/CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.5 [skip ci]
  CHANGELOG.md
  deno-dist/CHANGELOG.md
  deno-dist/README.md
  deno-dist/assets/classic-merge.gif
  deno-dist/assets/header.png
  deno-dist/assets/smart-merge.gif
Due: prettier --write

Notes added by 'git notes add'
  a8fbdb6c1dc91c9da34b52517bf10a354b232f7c
Due: none

docs(deno): give deno readme access to the docs
  package.json
Due: none

refactor: replace RecordProperty type with built in PropertyKey type
  src/deepmerge.ts
  src/types/basics.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
Due: prettier --write, eslint --fix

ci: add support for releasing a beta build of the next release
  .releaserc
Due: none

chore: improve benchmarking
  benchmark/.eslintrc.json
  benchmark/.gitignore
  benchmark/run.ts
Due: prettier --write, eslint --fix

perf: convert "UnionMapKeys" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "UnionSetValues" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "UnionMapValues" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "KeysOf" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "RequiredKeysOf" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "OptionalKeysOf" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "FilterOutNever" to a tail-recursive type
  src/types/utils.ts
Due: prettier --write, eslint --fix

perf: convert "DeepMergeArraysDefaultHKTHelper" to a tail-recursive type
  src/types/defaults.ts
Due: prettier --write, eslint --fix

perf: convert helper types of "DeepMergeRecordsDefaultHKTInternalProps" to a tail-recursive types
  src/types/defaults.ts
Due: prettier --write, eslint --fix

perf: convert recursive types to tail-recursive versions (#15)
  src/types/defaults.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

ci: fix release rules
  .releaserc
Due: none

chore(release): 1.1.6 [skip ci]
  CHANGELOG.md
  deno-dist/CHANGELOG.md
  deno-dist/deepmerge.ts
  deno-dist/docs/API.md
  deno-dist/docs/deepmergeCustom.md
  deno-dist/types/defaults.ts
  deno-dist/types/index.ts
  deno-dist/types/options.ts
  deno-dist/types/utils.ts
  deno-dist/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b317e606af2c179594e04af66edbb46cc777b9c6
Due: none

fix: incorrect resulting type when merging 3+ readonly tuples
  src/types/defaults.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix

refactor: remove unused import
  src/types/defaults.ts
Due: prettier --write, eslint --fix

fix: incorrect resulting type when merging 3+ readonly tuples (#20)
  src/types/defaults.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix

chore(release): 1.1.7 [skip ci]
  CHANGELOG.md
  deno-dist/CHANGELOG.md
  deno-dist/types/defaults.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d0833d8b42b23a5848b1f644643263e6b09f5e65
Due: none

chore: change the output dir for dist files
  .cspell.json
  .eslintrc.json
  .gitignore
  .prettierignore
  .releaserc
  .vscode/settings.json
  README.md
  deno-dist/CHANGELOG.md
  deno-dist/LICENSE
  deno-dist/README.md
  deno-dist/assets/classic-merge.gif
  deno-dist/assets/header.png
  deno-dist/assets/smart-merge.gif
  deno-dist/deepmerge.ts
  deno-dist/docs/API.md
  deno-dist/docs/deepmergeCustom.md
  deno-dist/index.ts
  deno-dist/mod.ts
  deno-dist/types/basics.ts
  deno-dist/types/defaults.ts
  deno-dist/types/index.ts
  deno-dist/types/merging.ts
  deno-dist/types/options.ts
  deno-dist/types/utils.ts
  deno-dist/utils.ts
  package.json
  rollup.config.ts
  tsconfig.base.json
  tsconfig.build.deno.json
  types-legacy/v4_0.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: change the output dir for dist files (#18)
  .cspell.json
  .eslintrc.json
  .gitignore
  .prettierignore
  .releaserc
  .vscode/settings.json
  README.md
  deno-dist/CHANGELOG.md
  deno-dist/LICENSE
  deno-dist/README.md
  deno-dist/assets/classic-merge.gif
  deno-dist/assets/header.png
  deno-dist/assets/smart-merge.gif
  deno-dist/deepmerge.ts
  deno-dist/docs/API.md
  deno-dist/docs/deepmergeCustom.md
  deno-dist/index.ts
  deno-dist/mod.ts
  deno-dist/types/basics.ts
  deno-dist/types/defaults.ts
  deno-dist/types/index.ts
  deno-dist/types/merging.ts
  deno-dist/types/options.ts
  deno-dist/types/utils.ts
  deno-dist/utils.ts
  package.json
  rollup.config.ts
  tsconfig.base.json
  tsconfig.build.deno.json
  types-legacy/v4_0.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: add better support for readonly types
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
  types-legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

fix: add better support for readonly types (#17)
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/types/utils.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
  types-legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

ci: run release ci on next branch
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.1.8-beta.1 [skip ci]
  CHANGELOG.md
  dist/deno/LICENSE
  dist/deno/README.md
  dist/deno/deepmerge.ts
  dist/deno/index.ts
  dist/deno/mod.ts
  dist/deno/types/defaults.ts
  dist/deno/types/index.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
  dist/node/types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  503bb37ec8086d0d9a6d662ba2ff0ee70457b594
Due: none

chore: improve beta release labelling
  .github/labels.yml
  .releaserc
Due: prettier --write
