Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

build: use defineConfig for the rollup config
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: sort package.json
  package.json
Due: none

chore: declare package as a module
  package.json
Due: none

chore: update calling of rollup to work with module
  .vscode/settings.json
  package.json
  rollup.config.cjs
  tsconfig.base.json
Due: none

refactor: use self referencing
  src/types/options.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update ava config to run in esm mode
  .c8rc.json
  .eslintrc.json
  .gitignore
  .vscode/settings.json
  ava.config.cjs
  ava.config.mjs
  package.json
  tests/deepmerge-custom.test.ts
  tests/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: suppress errors about self-referencing
  .eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: update lock file
  yarn.lock
Due: none

build: update dev deps
  package.json
  yarn.lock
Due: none

fix: drop keys that have no enumerable properties
  src/deepmerge.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: add tests for enumerable keys
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 4.0.4 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  6becb68ee978e73947afce19071c206c1a9292c3
Due: none

feat: treat module imports as records
  package.json
  src/utils.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: add tests for module merging
  .cspell.json
  .eslintrc.json
  tests/deepmerge.test.ts
  tests/modules/a.cjs
  tests/modules/a.d.cts
  tests/modules/a.d.mts
  tests/modules/a.mjs
  tests/modules/b.cjs
  tests/modules/b.d.cts
  tests/modules/b.d.mts
  tests/modules/b.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: add tests for checking if an object is a record
  tests/.eslintrc.json
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  9d04bd04829665bcaef11fe3a2f56d6e1d644205
Due: none

feat: export types for module resolution node 16
  package.json
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf(ts): add variance annotations
  src/types/merging.ts
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

perf(ts): use extends constraints on infer
  package.json
  src/types/defaults.ts
  tests/deepmerge-custom.test.ts
  types-legacy/v4_6.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: add node 18 as an environment to test ci on
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
  dist/node/types/legacy/v4_6.d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  63581a5db747a10c1f7c7e2198e93f0654a36682
Due: none

build: fix minimist dev deps security issue
  yarn.lock
Due: none

🔧Fix "deepmerge-ts module not found" error
  package.json
Due: none

build: drop default node export
  package.json
Due: none

fix: broken type info path (#146)
  package.json
Due: none

chore(release): 4.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  172142d383605ed570af126df41b8b5f6f0c2e91
Due: none

chore: update dev deps
  package.json
  yarn.lock
Due: none

chore: update .gitattributes
  .gitattributes
Due: none

chore: switch to renovate
  .github/dependabot.yml
  .github/renovate.json
Due: prettier --write

build: update lock file to yarn 3
  yarn.lock
Due: none

chore: fix coverage
  .c8rc.json
  ava.config.mjs
  package.json
  src/deepmerge.ts
  src/index.ts
  src/types/defaults.ts
  src/types/index.ts
  src/types/merging.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: cleanup - remove depedabot
  .github/labels.yml
  .github/workflows/check-dist-files.yml
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

ci: update release rules
  .releaserc
Due: none

chore(release): 4.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
