Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  61ccee1b30589199310f782353940c1f53c9ba35
Due: none

refactor: deprecate DeepMergeLeafHKT
  src/types/merging.ts
Due: prettier --write, eslint --fix

feat: provide customizable meta data to custom merge functions
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/utils.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.5 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/merging.ts
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1f4fafa5f80dd4c49e87ba2f9b435f630efc8247
Due: none

docs: fix deno badge
  README.md
Due: prettier --write

chore: add funding info
  .cspell.json
  .github/FUNDING.yml
  .markdownlint.json
  DONATIONS.md
  README.md
  assets/cryptocurrencies/logos/btc.svg
  assets/cryptocurrencies/logos/eth.svg
  assets/cryptocurrencies/logos/ltc.png
  assets/cryptocurrencies/logos/xmr.svg
  assets/cryptocurrencies/wallets/bitcoin.png
  assets/cryptocurrencies/wallets/ethereum.png
  assets/cryptocurrencies/wallets/litecoin.png
  assets/cryptocurrencies/wallets/monero.png
  package.json
  yarn.lock
Due: prettier --write

chore: add funding info (#53)
  .cspell.json
  .github/FUNDING.yml
  .markdownlint.json
  DONATIONS.md
  README.md
  assets/cryptocurrencies/logos/btc.svg
  assets/cryptocurrencies/logos/eth.svg
  assets/cryptocurrencies/logos/ltc.png
  assets/cryptocurrencies/logos/xmr.svg
  assets/cryptocurrencies/wallets/bitcoin.png
  assets/cryptocurrencies/wallets/ethereum.png
  assets/cryptocurrencies/wallets/litecoin.png
  assets/cryptocurrencies/wallets/monero.png
  package.json
  yarn.lock
Due: prettier --write

docs: fix deno badge (#54)
  README.md
Due: prettier --write

fix: update legacy types
  types-legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.6 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/node/types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c4a32aef3020d8f020fd28c540ca671a9bd47d16
Due: none

docs: update example using default config and add a code sandbox link
  .cspell.json
  README.md
Due: prettier --write

feat: lone values will now be passed to mergeOthers rather than just returned
  package.json
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: lone values will now be passed to mergeOthers rather than just returned (#57)
  package.json
  src/deepmerge.ts
  tests/deepmerge-custom.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 3.0.0-beta.7 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/deepmerge.ts
  dist/node/index.cjs
  dist/node/index.mjs
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a3accd5ebdaf830ca3ea3acca2245ec3084989c6
Due: none

docs: fix incorrect type of mergeOthers
  docs/API.md
Due: prettier --write

refactor: unrequire unused types and values
  src/deepmerge.ts
  src/types/defaults.ts
  src/types/merging.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/types/test.ts
Due: prettier --write, eslint --fix

feat: provide customizable meta data to custom merge functions
  docs/API.md
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  tests/.eslintrc.json
  tests/deepmerge-custom.test.ts
  tests/utils.ts
  types-legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/deepmerge.ts
  dist/deno/index.ts
  dist/deno/types/defaults.ts
  dist/deno/types/merging.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
  dist/node/types/legacy/v4_0.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  caf57ce20a556048e3d59bc83de52d7b645aec0e
Due: none

ci: don't allow PRs that modify the dist files
  .github/workflows/check-dist-files.yml
Due: prettier --write

ci: don't allow PRs that modify the dist files (#58)
  .github/workflows/check-dist-files.yml
Due: prettier --write

fix: allows readonly records in DeepMergeRecordsDefaultHKTInternalPropValueHelper
  src/types/defaults.ts
Due: prettier --write, eslint --fix

fix: allows readonly records in DeepMergeRecordsDefaultHKTInternalPropValueHelper (#60)
  src/types/defaults.ts
Due: prettier --write, eslint --fix

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  dist/deno/types/defaults.ts
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  3f3a31ce50efa9eea80fd88c4c326c2f81f33eb4
Due: none

refactor: rename the default merge functions to make it obvious that they are just the defaults
  src/deepmerge.ts
Due: prettier --write, eslint --fix

refactor: rename the default merge functions to make it obvious that they are just the defaults (#62)
  src/deepmerge.ts
Due: prettier --write, eslint --fix

fix: improve meta data typings
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

fix: improve meta data typings (#61)
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

feat: allow for implicit default merging
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

feat: allow for default merging via a special return value
  docs/deepmergeCustom.md
  src/deepmerge.ts
  src/types/options.ts
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix

chore(release): 3.1.0-beta.1 [skip ci]
  CHANGELOG.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  831291988c60915e01fae3d0530b98bcc512b7dc
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
