Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  5735fadce9c15b576fd5d386a31f93cb126686bd
Due: none

chore: update labels
  .github/labels.yml
Due: prettier --write

chore: update renovate rules
  .github/renovate.json
Due: none

chore: release update when peer deps are updated
  .releaserc
Due: none

chore: remove unneeded deno ports
  package.json
Due: none

style: update linting
  .eslintrc.json
  package.json
  tests/deepmerge-custom.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix example of accumulating keys
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

refactor: rename parameters for DeepMergeMergeFunctions
  src/types/options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update renovate config
  .github/renovate.json
Due: none

chore: pin dev deps
  package.json
  yarn.lock
Due: none

chore: update prettier config
  .prettierrc
  package.json
  yarn.lock
Due: none

chore: switch to tsd from dtslint
  package.json
  rollup.config.ts
  tests/deepmerge.test-d.ts
  tests/types/index.d.ts
  tests/types/test.ts
  tests/types/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update node install notes
  README.md
Due: prettier --write, cspell --config=.cspell.json

chore: lock update
  yarn.lock
Due: none

chore: readd accidentally removed dist publishing
  .releaserc
Due: none

test: add tests where a non-record object is treated like a record
  .eslintrc.json
  tests/deepmerge-custom.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  .eslintrc.json
  benchmark/.eslintrc.json
  package.json
  src/deepmerge.ts
  src/utils.ts
  tests/.eslintrc.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: add support for shorthand breaking change commits
  .commitlintrc.cjs
  .commitlintrc.json
Due: none

chore: make code coverage informational only
  .github/codecov.yml
Due: prettier --write

chore: run renovate monthly
  .github/renovate.json
Due: none

chore!: drop support for node 12 and 14
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 5.0.0-next.1 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/deepmerge.ts
  dist/deno/types/options.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  b61b11362f080d3eb0388d43ed0e669200d6a3a4
Due: none

chore: add import assertions
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(deps): audit fix
  yarn.lock
Due: none

chore: package lock update
  yarn.lock
Due: none

docs: reorder deepmerge custom section
  docs/deepmergeCustom.md
Due: prettier --write, cspell --config=.cspell.json

chore: update linting packages
  package.json
  yarn.lock
Due: none

feat: create deepmergeInto function
  .cspell.json
  .eslintrc.json
  .markdownlint.json
  README.md
  docs/API.md
  docs/deepmergeCustom.md
  package.json
  src/actions.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/defaults/meta-data-updater.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/options.ts
  src/types/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test-d.ts
  tests/deepmerge-into.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/actions.ts
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/meta-data-updater.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/deno/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  8e6827b39e045895ae76e4db32d426e15a0a98b6
Due: none

chore(release): 5.0.0-next.2 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/actions.ts
  dist/deno/deepmerge-into.ts
  dist/deno/deepmerge.ts
  dist/deno/defaults/into.ts
  dist/deno/defaults/meta-data-updater.ts
  dist/deno/defaults/vanilla.ts
  dist/deno/index.ts
  dist/deno/types/options.ts
  dist/deno/types/utils.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  2f82f45f92a60b1047dae2caf65080999012d948
Due: none

docs: fix alt text for banner
  README.md
Due: prettier --write, cspell --config=.cspell.json

chore: update renovate
  .github/renovate.json
Due: none

build: switch to pnpm
  .cspell.json
  .gitattributes
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  benchmark/package.json
  benchmark/pnpm-lock.yaml
  benchmark/yarn.lock
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore: remove unused dev-deps
  package.json
  pnpm-lock.yaml
Due: none

ci: fix script name
  .github/workflows/build-node.yml
Due: prettier --write

ci: fix running semantic-release
  .github/workflows/release.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
