Repository RebeccaStevens/deepmerge-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: resync docs
  src/defaults/into.ts
  src/defaults/vanilla.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: add note
  src/types/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: interfaces
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: add limitation label
  .github/labels.yml
Due: prettier --write

refactor: m_ => mut_
  benchmark/run.ts
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/into.ts
  src/types/options.ts
  src/utils.ts
  tests/deepmerge-custom.test.ts
  tests/deepmerge-into-custom.test.ts
  tests/deepmerge-into.test.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: fix up type tests
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: improve type merging of nested optional properties
  src/types/defaults.ts
  src/types/utils.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: improve type merging of nested optional properties (#530)
  src/types/defaults.ts
  src/types/utils.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.1.5 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  9e51eb5430e4e413b03d93ebcc6a992664d0b752
Due: none

chore: repo update
  .gitattributes
  .github/labels.yml
  .github/renovate.json
  .markdownlint-cli2.jsonc
  .releaserc.yml
  CONTRIBUTING.md
  cspell.config.yml
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: maintenance update
  .github/renovate.json
  .releaserc.yml
  cspell.config.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: maintenance update (#628)
  .github/renovate.json
  .releaserc.yml
  cspell.config.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update vitest config
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: add missing package
  package.json
  pnpm-lock.yaml
Due: none

ci: readd benchmack package rules
  .github/renovate.json
Due: none

WIP: Handling references (so far only circular ones) in regular deep merge
  eslint.config.js
  src/deepmerge-into.ts
  src/deepmerge.ts
  src/defaults/general.ts
  src/defaults/into.ts
  src/defaults/vanilla.ts
  src/index.ts
  src/types/defaults.ts
  src/types/merging.ts
  src/types/options.ts
  src/utils.ts
  tests/deepmerge.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

style: apply linting fixes
  .github/renovate.json
Due: none

chore: remove out of date eslint disable
  src/utils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: only test typescript files for coverage
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: remove unnecessary type assertions flagged by typescript-eslint v8.66.0
  src/deepmerge-into.ts
  src/deepmerge.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: only build as part of other tasks if needed
  package.json
  scripts/check-build.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: only build as part of other tasks if needed (#690)
  package.json
  scripts/check-build.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update the benchmarks
  benchmark/run.ts
  benchmark/tsconfig.json
  package.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: add more libraries to benchmark against
  benchmark/package.json
  benchmark/run.ts
  project-dictionary.txt
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: improve the benchmarks
  benchmark/package.json
  benchmark/run.ts
  benchmark/tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: fix benchmark call
  benchmark/run.ts
  package.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: improve benchmarks more
  benchmark/run.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update the benchmarks (#691)
  benchmark/package.json
  benchmark/run.ts
  benchmark/tsconfig.json
  package.json
  project-dictionary.txt
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: add not about typescript interfaces
  README.md
Due: prettier --write, cspell --config=.cspell.json

fix: preserve known keys when merging objects with index signatures
  src/types/defaults.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: fix a test
  tests/deepmerge-into.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: use new function name
  tests/deepmerge-into.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: fix a test (#693)
  tests/deepmerge-into.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: preserve known keys when merging objects with index signatures (#692)
  src/types/defaults.ts
  tests/deepmerge.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.1.6 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  a0fcb504d8cf784179b3f94e6632b41ee30b2872
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: any of: ./**/*.{md,ts}
